{% extends "base_generic.html" %}

{% block content %}
  <form action="" method="post">
  {% csrf_token %}
  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
      <p>{{ form.email }}</p> 
    <input type="submit" class="btn btn-default btn-lg" value="Reset password">
  </form>
{% endblock %}

<!--
{# {% extends "base_generic.html" %} #}

{# {% block content %} #}
<div class="container">
    <form action="" method="post">
    {% csrf_token %}
        {% if form.email.errors %}
            {{ form.email.errors }}
        {% endif %}
        {% for field in form %}
            {{ field.label_tag }}
            {{ field.value }}
        {% endfor %}
        
        <div class="form-group">
            <label for="email">{{ form.email.label_tag }}</label>
            <input type="text" name="email" class="form-control" placeholder="Enter Email" />
        </div>
        <br />
        <div style="text-align:center;">
            <button type="submit" class="btn btn-primary" value="Reset password">Reset Password</button>
        </div>
    </form>
</div>
{# {% endblock %} #}
-->
