{% extends "base_generic.html" %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% block content %}
{% if user.is_authenticated %}
    {% if user.username == blogpost.author.name %}
        <div class="container">
            <form action="{% url 'blog:change' blogpost.id %}" method="post">
            {% csrf_token %}
                <div class="form-group">
                    <label for="title">{{ form.title.label_tag }}</label>
                    <input type="text" name="title" class="form-control" value="{{ form.title.value }}" />
                </div>
                <div class="form_group">
                    <label for="body">{{ form.body.label_tag }}</label>
                    <textarea type="text" name="body" class="form-control">{{ form.body.value }}</textarea>
                </div>
                <br />
                <div style="text-align:center;">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    {% else %}
        <div class="container">
            <div class="alert alert-secondary" role="alert">
                <p style="text-align:center">You don't have permission to edit this post.</p>
            </div>
        </div>
    {% endif %}
{% endif %}
{% endblock %}
